<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SSOEntities" connectionString="metadata=res://*/BDSSO.SSO.csdl|res://*/BDSSO.SSO.ssdl|res://*/BDSSO.SSO.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=in10sqd500;initial catalog=www.kcmsso.com_1;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>