
<div class="gigyaJFMwrapper gigyaJFMCtrl" id='gigyaJFMCOMPLETIONCtrl'>
    <div class="gigyaJFMinner">
        <div class="gigyaJFMicon">
            <a class="gigyaJFMLink" href="#" id="gigyaJFMClosingCompletion"><img src="gigyaJFM/images/remove.png" alt=""></a>
        </div>
        <div class="gigyaJFMinside">
            <div class="gigyaJFMform2">
                <form class="gigyaJFMform-detail">
                    <div class="gigyaJFMtabcontent">
                        <div class="gigyaJFMform-wrapper gigyaJFMform-row">
                            <label for="gigyaJFMCompletionNombre" class="gigyaJFMcol-form-label gigyaJFMcol-12"></label>
                            <div class="gigyaJFMcol-12">
                                <input type="text" name="gigyaJFMCompletionNombre" id="gigyaJFMCompletionNombre"
                                       class="gigyaJFMform-control" aria-describedby="ayuda-nombre" placeholder="Ingresa tu nombre completo" required>
                            </div>

                        </div><div class="gigyaJFMform-wrapper">
                            <label for="gigyaJFMCompletionApellidos" class="gigyaJFMcol-form-label gigyaJFMcol-12"></label>
                            <div class="gigyaJFMcol-12">
                                <input type="text" name="gigyaJFMCompletionApellidos" id="gigyaJFMCompletionApellidos"
                                       class="gigyaJFMform-control" aria-describedby="ayuda-nombre" placeholder="Ingresa tus apellidos" required>
                            </div>
                        </div>

                        <div class="gigyaJFMtab2">
                            <div class="gigyaJFMform-wrapper2 gigyaJFMform-row">
                                <label for="" class="gigyaJFMcol-form-label gigyaJFMcol-12 gigyaJFMcol-md-2">Fecha nacimiento</label>
                                <div class="gigyaJFMcol-12">
                                    <div class="gigyaJFMinput-group">
                                        <input type="date" name="gigyaJFMCompletionFecha" id="gigyaJFMCompletionFecha" class="gigyaJFMform-control gigyaJFMdatepicker"
                                               aria-describedby="ayuda-fecha" />
                                        <div class="gigyaJFMinput-group-append"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="gigyaJFMform-wrapper2">
                                <label for="gigyaJFMCompletionGenero">Género</label>
                                <input type="hidden">
                                <select class="gigyaJFMform-control" id="gigyaJFMCompletionGenero">
                                    <option value="n">Seleccione Genero</option>
                                    <option value="m">Hombre</option>
                                    <option value="f">Mujer</option>
                                </select>
                            </div>

                            <div class="gigyaJFMform-wrapper2 gigyaJFMform-row">
                                <label for="gigyaJFMCompletionPais">País</label>
                                <div>
                                    <input type="text" name="gigyaJFMCompletionPais" id="gigyaJFMCompletionPais"
                                           class="gigyaJFMform-control" aria-describedby="ayuda-pais" placeholder="México" required>
                                </div>
                            </div>
                        </div>



                        <div class="gigyaJFMtab2">
                            <div class="gigyaJFMform-wrapper2 gigyaJFMform-row">
                                <label for="gigyaJFMCompletionEstado" class="gigyaJFMcol-form-label gigyaJFMcol-12"></label>
                                <div class="gigyaJFMcol-12">
                                    <input type="text" name="gigyaJFMCompletionEstado" id="gigyaJFMCompletionEstado"
                                           class="gigyaJFMform-control" aria-describedby="ayuda-estado" placeholder="Estado" required>
                                </div>
                            </div>

                            <div class="gigyaJFMform-wrapper2 gigyaJFMform-row">
                                <label for="gigyaJFMCompletionCiudad"></label>
                                <div>
                                    <input type="text" name="gigyaJFMCompletionCiudad" id="gigyaJFMCompletionCiudad"
                                           class="gigyaJFMform-control" aria-describedby="ayuda-ciudad" placeholder="Ciudad" required>
                                </div>
                            </div>
                            <div class="gigyaJFMform-wrapper2 gigyaJFMform-row">
                                <label for="gigyaJFMCompletionPostal"></label>
                                <div>
                                    <input type="number" name="gigyaJFMCompletionPostal" id="gigyaJFMCompletionPostal"
                                           class="gigyaJFMform-control" aria-describedby="ayuda-postal" placeholder="Código Postal" required>
                                </div>
                            </div>
                        </div>

                        <div class="gigyaJFMform-wrapper">
                            <input type="checkbox" class="gigyaJFMform-check-input" id="gigyaJFMCompletionNewsletter">
                            <label class="gigyaJFMform-check-label" for="gigyaJFMCompletionNewsletter">Suscríbete a nuestro Newslatter </label>
                        </div>

                        <div class="gigyaJFMform-wrapper">
                            <div id='gigyaJFMCompletionrecaptcha'></div>
                        </div>

                        <div class="gigyaJFMform-wrapper">
                            <br />
                            <span id="gigyaJFMerrFormCompletionRegistration" style="color:red!important;font-size:15px"></span>
                        </div>

                        <button class="gigyaJFMBTN" id="gigyaJFMCompletionBTN">
                            <a class="gigyaJFMLink" href="#">Enviar</a>
                            <i class="zmdi zmdi-arrow-right"></i>
                        </button>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>