<div class="gigyaJFMwrapper gigyaJFMCtrl" id='gigyaJFMCONTINUECtrl'>
    <div class="gigyaJFMinner">
        <div class="gigyaJFMicon">
            <a class="gigyaJFMLink" href="#" id="gigyaJFMCONTINUEClosing"><img src="gigyaJFM/images/remove.png" alt=""></a>
        </div>
        <div class="gigyaJFMinside">
            <div class="gigyaJFMimage-holder">
                <img src="gigyaJFM/images/soap_baja.jpg" alt="">
            </div>

            <form class="gigyaJFMform-detail" action="#" method="dialog">
                <div class="gigyaJFMtabcontent2">
                    <div class="gigyaJFMthank">
                        <div>
                            <p>Gracias por integrarte a la comunidad <span>Jabones Kleenex,</span> ahora puedes gozar de los privilegios que tenemos para ti.</p>
                            <p class="gigyaJFMcall">
                                ¿Quiéres completar tu registro para tener accceso
                                a contenido exclusivo?
                            </p>
                        </div>

                        <div>
                            <button class="gigyaJFMBTN" id="gigyaJFMContinueBTN">
                                <a class="gigyaJFMLink" href="#">Continuar</a>
                            </button>
                        </div>

                        <div class="gigyaJFM" id="gigyaJFMContinueSalidaBTN">
                            <a class="gigyaJFMLink" href="#">En otro momento</a>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
