<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <!--Valores que utiliza el log-->
    <add key="RutaLog" value="C:\KCM\Servicios de Internet\KCM.ServiciosInternet.Plugins\WcfLogInGiGya\Log"/>
    <add key="NombreLog" value="WcfLogInGiGya"/>
    <add key="LogDiario" value="True"/>
    <add key="UrlErroresLog" value="C:\KCM\Servicios de Internet\KCM.ServiciosInternet.Plugins\WcfLogInGiGya\Log"/>
    <add key="ArchivoErroresLog" value="ErrWcfLogInGiGya"/>

  </appSettings>
</configuration>
