<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Conn::BD" connectionString="Data Source=in10sqd500;Initial Catalog=www.jaboneskleenex.mx_1;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="PlugInConfig::SMTPServer" value="mailhost.gwsweb.net"/>
    <add key="PlugInConfig::LoadingImage" value="/gigya/images/loading.gif"/>
    
    <!--Global Configuration--> 
    
    <!-- Global Settings -->
    <add key="GlobalConfig::isDebug" value="true"/>
    <add key="GlobalConfig::ResetPSUrl" value="http://localhost:15467/Functions/ResetPassword.aspx"/>
    <add key="GlobalConfig::ServiceUrl" value="http://localhost:15467/Services/ResetPS.svc"/>
    <add key="GlobalConfig::ScriptsLibPath" value="/Scripts"/>
  
    <!--Valores que utiliza el log-->  
    <add key="RutaLog" value="/log"/>
    <add key="NombreLog" value="WcfLogInGiGya"/>
    <add key="LogDiario" value="True"/>
    <add key="UrlErroresLog" value="/log"/>
    <add key="ArchivoErroresLog" value="ErrWcfLogInGiGya"/>
  
  </appSettings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="No-reply &lt;no-reply@kcc.com&gt;">
        <network host="mailhost.gwsweb.net" />
      </smtp>
    </mailSettings>
  </system.net>
  
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" minFreeMemoryPercentageToActivateService="0" multipleSiteBindingsEnabled="true"/>
    <services>
      <service name="WcfLogInGiGya.Services.ResetPS">
        <endpoint address="" behaviorConfiguration="restfulBehaviour" binding="webHttpBinding" bindingConfiguration="webHttpBindingWithJsonP" contract="WcfLogInGiGya.Interfaces.IJFMGigyaResetPassword"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:15467/Services/ResetPS.svc"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="restfulBehaviour">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="webHttpBinding" scheme="http"/>
    </protocolMapping>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpBindingWithJsonP" crossDomainScriptAccessEnabled="true">
          <security mode="None"/>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
    <httpProtocol>
      <!--<customHeaders>
        <add name="Access-Control-Allow-Origin" value="http://localhost:442"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type, Accept" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,DELETE" />
        <add name="Access-Control-Max-Age" value="1728000" />
      </customHeaders>-->
    </httpProtocol>
  </system.webServer>
</configuration>